*
{
    padding: 0;
    margin: 0;
}
#hero
{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),  url(images/image.jpg);
    background-position: center;
    background-size: cover;
    height: 70vh;
}
.logo
{
    color: #ff0bff;
}
.hero-text 
{
    text-align: center;
    color: #fff;
    padding-top: 200px;
}

/* -------about----- */

.about-head
{
    text-align: center;
    font-size: 40px;
    padding-top: 80px;
    padding-right: 50px;
}
.about-head::after
{
    content: '';
    width: 100px;
    background: #ff0bff;
    display: block;
    height: 3px;
    margin-left: 600px;
    
   
}
#about
{
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 30px;
}
h4
{
    font-size: 20px;
    padding-bottom: 10px;
}

.about-text p
{
    flex-basis: 1;
    
}
.about-image img
{
    
    float: right;
}

/* ---------services--------- */
#service
{
    background-color: #e6e6e6;
}
#service h1 
{
    text-align: center;
    color: #a2a2a2;
}
#service h1::after
{
    content: '';
    width: 120px;
    background: #ff0bff;
    display: block;
    height: 3px;
    margin-left: 620px;
    
   
}
.image-box
{
    display: grid;
    justify-content: space-around;
}
.service-text
{
    padding-top: 100px;
    color: #a2a2a2;
}

.serv-img
{
    width: 100%;
    height: 200px;
    padding-bottom: 10px;
    
}

/* -----------contact------ */
#contact
{
    background-image:linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9)), url(images/footer-img.png);
    background-position: center;
    background-size: cover;
    height: 200px;
}
.contact-form
{
    text-align: center;
    padding-top: 90px;
   
}
.input
{
    text-align: center;
    padding: 12px;
    background-color: #e6e6e6;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
   
    border-radius: 2px;
}
.contact-btn
{
    margin-left: -6px;
    padding: 12px;
    background-color: #ff0bff;
    color: #fff;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 2px;
}
/* --------footer------- */
.footer
{
    background-color: black;
    color: white;
    text-align: center;
}

/* -----------------media query for Tablet--------------- */

@media screen and (max-width: 768px) {
    #hero
    {
        background-position: center;
        background-size: cover;
        height: 30vh;
    }
    .logo
    {
        font-size: 10px;
        margin-left: 20px;
        
    }
    .hero-text 
    {
        
        font-size: 10px;
        text-align: center;
        padding-top: 100px;
        padding-right: 50px;
        padding-left: 30px;
        margin-top: -40px;
    }
    .about-head
    {
        text-align: center;
        font-size: 20px;
        padding-top: 80px;
        padding-right: 50px;
        margin-top: -40px;
    }
    .about-head::after
    {
        content: '';
        width: 2px;
        background: #ff0bff;
        display: block;
        height: 2px;
        margin-left: 329px;
        padding-left: 30px;
        padding-right: 30px;    
    }
    #service h1::after
    {
        content: '';
        width: 120px;
        background: #ff0bff;
        display: block;
        height: 3px;
        margin-left: 329px; 
    }
}





/* --------Media query for mobile device ------------------------*/
@media screen and (max-width: 375px){
    #hero
    {
        background-position: center;
        background-size: cover;
        height: 30vh;
    }
    .logo
    {
        font-size: 10px;
      margin-left: -70px;
    }
    .hero-text 
    {
        
        font-size: 10px;
        text-align: center;
        padding-top: 100px;
        padding-right: 50px;
        padding-left: 30px;
    }
    .about-head
    {
        text-align: center;
        font-size: 20px;
        padding-top: 80px;
        padding-right: 50px;
        margin-top: -40px;
    }
    .about-head::after
    {
        content: '';
        width: 2px;
        background: #ff0bff;
        display: block;
        height: 2px;
        margin-left: 130px;
        padding-left: 30px;
        padding-right: 30px;    
    }
   
    h4
    {
        margin-top: -30px;
        font-size: 15px;
        padding-bottom: 10px;
        text-align: center;
    }
    .about-text p
    {
        font-size: 10px;
        text-align: left;
    }
    #service h1::after
    {
        content: '';
        width: 120px;
        background: #ff0bff;
        display: block;
        height: 3px;
        margin-left: 130px; 
    }
    .contact-form
    {
        text-align: center;
        padding-top: 70px;
   
    }
    .input
    {
        text-align: center;
        padding: 8px;
        background-color: #e6e6e6;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 2px;
    }
    .contact-btn
    {
        margin-left: -6px;
        padding: 8px;
        background-color: #ff0bff;
        color: #fff;
        border: 1px solid #ccc;
        box-sizing: border-box;
        border-radius: 2px;
    }
}

